/* Modded by Silver18
more info at: http://www.mobileread.com/forums/showpost.php?p=2121570&postcount=1
*/


.noUiSlider{width:400px;border:1px solid #CCC;height:8px;background:#d1d1d1;-webkit-touch-callout:none}.noUi-midBar{height:100%;z-index:0;background:#b5b5b5;-webkit-touch-callout:none}.noUi-handle>div{position:absolute;width:16px;height:16px;top:-5px;left:-8px;z-index:5;border:1px solid #CCC;background:#EEE}.noUi-handle>div:hover,.noUi-handle>div.noUi-activeHandle{background:#ACE;border-color:#369}.disabled>.noUi-midBar{background:#999}.disabled .noUi-handle>div{border-color:#CCC;background:#CCC}@media(-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){.noUi-handle>div{height:40px;width:20px;top:-6px;left:-16px;border:1px solid #000;background:#a1a1a1}}