/* Written by Silver18
more info at: http://www.mobileread.com/forums/showpost.php?p=2121570&postcount=1
*/

/* SHARED */
html,
body,
div.container {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: Arial;
}
body {
	overflow: hidden;
}
button.jqueryButtons {
	font-size: larger;
}
span.pageHeader,
div.folderList span.folderListTitle
{
	display: table;
	margin: 0 auto;
	text-align: center; 
	padding-top: 15px; 
	font-size: xx-large; 
}
span.smallPageHeader {
	display: table;
	margin: 0 auto;
	text-align: center; 
	padding-top: 10px; 
	font-size: x-large; 
	font-style: italic;
}


/* INDEX PAGE */
div.indexButtonsWrapper {
	margin-top: 100px;
	overflow: auto;
	text-align: center;
}
div.indexButtonsWrapper button.chooseFolderButton {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 350px;
}
div.indexButtonsWrapper button.coverViewButton {
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
div.indexButtonsWrapper button.komicMenuButton {
	float: right;
	margin-top: 40px;
	margin-right: 10px;
}
div.indexButtonsWrapper button.exitKomicButton {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}
img.splashImage {
	position: fixed;
	bottom: 10px;
	left: 50%;
	margin-left: -300px;
}


/* FOLDER LIST */
div.folderList {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	text-align: left;
	background-color: white;
}
div.folderList ul.folderListComics {
	font-size: 14pt;
	line-height: 18pt;
	position: fixed;
	top: 70px;
	bottom: 60px;
	left: -30px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;	
	list-style-type: none;
	margin: 0px;
}
div.folderList ul.folderListComics li {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
div.folderList ul.folderListComics li.openLi {
	font-weight: bold;
	font-size: 16pt;
	font-style: italic;
	border-bottom-style: none;
}
div.folderList ul.folderListComics li.closedLi {
	font-weight: bold;
	font-size: 14pt;
	font-style: normal;
	border-bottom-style: solid;
}
div.folderList ul.folderListComics li.hiddenLi {
	border-bottom-style: none;
}
div.folderList div.folderListButtonsWrapper {
	overflow: auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
div.folderListButtonsWrapper button.searchComicButton {
	float: left;
}
div.folderListButtonsWrapper button.restoreComicButton {
	float: right;
}


/* READING */
div.readingWrapper {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Image and wrapper */
#image {	
	position: absolute;
}

/* Context menu */
div.contextMenu {
	display: none;
	position: fixed;
	top: 10px;
	z-index: 2;
}
button.readingMenu {
	position: fixed; 
	right: 5px;
	width: 200px;  
}
button.bookmarkMenu {
	position: fixed; 
	left: 5px;
	width: 250px;
}

/* Buttons */
div.prevPage {
	width: 17%;
	height: 90%;
	position: fixed;
	top: 10%;
	left: 0px;
	opacity: 0;
}
div.nextPage {
	width: 83%;
	height: 90%;
	position: fixed;
	top: 10%;
	right: 0px;
	opacity: 0;
}
div.scrollDown {
	width: 100%;
	height: 13.5%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: none;
	opacity: 0;	
}
div.zoomIn {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
	opacity: 0;
	z-index: 2;
}
div.zoomOut {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	opacity: 0;
	z-index: 2;
}
div.menuOn {
	width: 87%;
	height: 10%;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0;	
}
div.menuOff {
	width: 100%;
	height: 92%;
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 0;
}
div.saveBookmark {
	width: 13%;
	height: 10%;
	position: fixed;
	top: 0px;
	right: 0px;
	opacity: 0;
}

/* Date Time Box */
div.extendedInfoBox {
	width: 100%;
	background-color: white;
	opacity: 0.8;
	position: fixed;
	bottom: 20px;
	text-align: center;
	height: auto;
}
div.extendedInfoBox span {
	line-height: 44px;
	display: block;
}

/* Slide bar box */
div.slidebarBox {
	width: 98.7%;
	display: none;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color: #FFFFFF;
	z-index: 2;
	border:5px double black;
}
span.slidebarText {
	display: table;
	margin: 0 auto;
	text-align: center; 
	padding-top: 10px; 
	font-size: x-large; 
	font-style: italic;
}
div.slidebarBox span.slidebarValue,
div.slidebarBox span.slidebarRange
{
	margin-left: 5px;
	margin-right: 5px;
	float: left; 
	font-size: large;
}
div.slidebarBox div.slidebarDiv {
	margin-left: 15px; 
	margin-right: 5px; 
	float: left; 
	width: 55%; 
	height: 30px;
}

/* Contrast and brigthness box */
div.pixasticBox {
	width: 98.7%;
	display: none;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	background-color: #FFFFFF;
	color: #000000;
	z-index: 2;
	border:5px double black;
}
span.contrastText {
	display: table;
	margin: 0 auto;
	text-align: center; 
	font-size: x-large; 
	font-style: italic;
    width: 100%;
    padding-top: 5px;
}
span.brightnessText {
	display: table;
	margin: 0 auto;
	text-align: center; 
	font-size: x-large; 
	font-style: italic;
    width: 100%;
}
div.pixasticBox img {
	width: 50px;
	height: 50px;
}
div.pixasticBox img.contrastMinus,
div.pixasticBox img.brightnessMinus
{
    float: left;
    margin-left: 5px;
}
div.pixasticBox img.contrastPlus,
div.pixasticBox img.brightnessPlus
{
    float: right;
    margin-right: 5px;
}
div.pixasticBox div.brightnessDiv
{
    margin-bottom: 5px;
}
div.pixasticBox div.contrastSpan,
div.pixasticBox div.brightnessSpan
{
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
div.pixasticBox div.contrastSpan span, 
div.pixasticBox div.brightnessSpan span
{
    line-height: 50px;
    font-size: large;
}
div.pixasticBox table.confirmResetTable {
	font-size: large;
	text-align: center;
    width: 100%;
    border: 1px solid black;
	border-collapse: collapse;
}
div.pixasticBox table.confirmResetTable td {
    border: 1px solid black;
    width: 50%;
	height: 15px;
	padding-bottom: 5px;
}
hr.separator {
	border: 1px solid black;
    background-color: black;
    height: 0px;
    margin: 10px 10px;
    clear: both;
}


/* COVER VIEW */
div.imagesList {
	width: 103%;
	position: fixed;
	top: 110px;
	left: 6px;
	bottom: 50px;
	overflow: auto;
}
img.previewImage {
	display: none;
}
div.coverViewButtonsWrapper {
	overflow: auto;
	position: fixed;
	bottom: 15px;
	width: 100%;
}
div.coverViewButtonsWrapper img.leftArrowButton {
	float: left;
	display: block;
	margin-left: 5px;
}
div.coverViewButtonsWrapper img.rightArrowButton {
	float: right;
	display: block;
	margin-right: 5px;
}



/* INFO PAGE */
div.infoList {
	width: 100%;
	height: 75%;
	display: block;
	position: fixed;
	top: 13%;
	text-align: left;
	font-size: 11pt;
	overflow: auto;
}
div.infoPageButtonsWrapper {
	position: fixed;
	bottom: 10px;
	left: 0px;
	right: 0px;
	display: none;
}
div.infoPageButtonsWrapper button.chooseFolder {
	margin-left: 5px;
	float: left;
	width: 300px;
}
div.infoPageButtonsWrapper button.returnHome {
	margin-right: 5px;
	float: right;
}


/* ALL PURPOSE */
.tall {
	height: 70px;
	padding-top: 2%;	
}
.short {	
	height: 30px;
	padding-top: 1%;	
}
.centered {
  	position: fixed;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
.spinningWheel {
  	position: fixed;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto auto 30px auto;
	display: none;
	width: 100px;
	height: 100px;
}


/* OPTIONS PAGE */
div.optionsContainer ul.optionScreen0 {
	display: block;
}
div.optionsContainer ul.optionScreen1 {
	display: none;
}
div.optionsContainer ul.optionScreen2 {
	display: none;
}
div.optionsContainer ul.optionScreen3 {
	display: none;
}
div.optionsContainer ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
div.optionsContainer ul li {
	padding-top: 55px;
}
div.optionsContainer span.optionTags {
	padding-left: 5px;
	font-size: x-large;
	vertical-align: middle;
	line-height: 54px;
}
div.optionsContainer img.onOffOptionButtons {
	padding-right: 10px;
	width: 126px;
	height: 54px;
	display: inline-block;
	float: right;
	vertical-align: middle;
}
div.optionsContainer img.notDefaultButton {
	display: inline-block;
	float: right;
	vertical-align: middle;
}
div.optionsButtonsWrapper {
	overflow: auto;
	margin-top: 10px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
div.optionsButtonsWrapper img {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.optionsButtonsWrapper img.leftArrowButton {
	float: left;
	display: none;
	margin-left: 5px;
}
div.optionsButtonsWrapper img.rightArrowButton {
	float: right;
	display: block;
	margin-right: 5px;
}
div.optionsButtonsWrapper button.exitKomicButton {
	float: left;
}
div.optionsButtonsWrapper button.returnHomeButton {
	float: right;
}
div.calibrationBox {
	width: 500px;
	height: 300px;
	position: fixed;
	display: none;
	background-color: white;
	border-style: double; 
	border-width: 10px;
	z-index: 91;
	text-align: center;	
}
span.calibrationAreaTitle {
	text-align: center; 
	font-size: x-large; 
	padding-top: 10px; 
	font-weight: bold;
	display: inline-block;
}
div.calibrationBackLayer {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: white;
}
table.calibrationTable {
	border-spacing: 10px;
	font-size: large;
	width: 100%;
}
table.calibrationTable thead {
	text-decoration: underline;
	font-size: x-large;
}
table.calibrationTable tfoot tr:first-child {
	font-style: italic;
	text-align: center;
}


/* REMOVE BORDER */
div.scheduledBordersWrapper {
	overflow: hidden;
	margin-top: 15px;
	font-size: large;
	line-height: 120%; 
	text-align: justify;
}
ul.scheduledBorders {
	padding-left: 5px;
	padding-right: 5px;
	overflow-y: auto; 
	margin: 0px;
	list-style-type: none;
	width: 101.5%;
}
div.bordersButtonsWrapper {
	margin-top: 20px;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
div.bordersButtonsWrapper button.addBorderButton {
	float: left;
}
div.bordersButtonsWrapper button.removeBorderButton {
	float: right;
}
div.bordersButtonsWrapper button.runBorderButton {
	float: left;
	margin-top: 5px;
}
div.bordersButtonsWrapper button.returnHomeButton {
	float: right; 
	margin-top: 5px;
}
span.readmeBorders {
	display: block; 
	margin-top: 10px; 
	font-size: large; 
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
}
div.borderPreviewBox {
	width: auto;
	height: auto;
	display: none;
	position: fixed;
	background-color: #FFFFFF;
	color: #000000;
	z-index: 5;
}


/* HELP PAGE */
div.help {
	font-size: medium;
	font-weight: bold;
	padding-top: 3%;
}
div.firstHelp {
	padding-top: 0%;
}
div.faq {
	font-size: small;
	text-align: justify;
}
div.helpGuide {
	position: fixed;
	bottom: 60px;
	top: 95px;
	left: 5px;
	right: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}
div.helpGuide span {
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
}
div.helpPageButtonsWrapper {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
div.helpPageButtonsWrapper button.returnHome {
	float: right;
	padding: 0 15px;
}
div.helpPageButtonsWrapper button.collapseAll {
	float: left;
	padding: 0 15px;
}


/* BOOKMARK PAGE */
div.availableBookmarkWrapper {
	overflow: hidden;
	margin-top: 15px;
	font-size: large;
	line-height: 120%; 
	text-align: justify;
}
ul.availableBookmark {
	padding-left: 5px;
	padding-right: 5px;
	overflow-y: auto; 
	margin: 0px;
	list-style-type: none;
	width: 101.5%;
}
div.bookmarksButtonsWrapper {
	margin-top: 20px;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
div.bookmarksButtonsWrapper button.removeBookmarkButton {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	width: 350px;
}
div.bookmarksButtonsWrapper button.clearBookmarksButton {
	float: left; 
	margin-top: 5px;
}
div.bookmarksButtonsWrapper button.returnHomeButton {
	float: right; 
	margin-top: 5px;
}


/* DELETION PAGE */
div.scheduledDeletionskWrapper {
	overflow: hidden;
	margin-top: 15px;
	font-size: large;
	line-height: 120%; 
	text-align: justify;
}
ul.scheduledDeletions {
	padding-left: 5px;
	padding-right: 5px;
	overflow-y: auto; 
	margin: 0px;
	list-style-type: none;
	width: 101.5%;
}
div.deletionsButtonsWrapper {
	overflow: auto;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
div.deletionsButtonsWrapper button.addDeletionButton {
	float: left;
}
div.deletionsButtonsWrapper button.removeDeletionButton {
	float: right;
}
div.deletionsButtonsWrapper button.removeAllDeletionButton {
	margin: 5px auto 0px auto;
	display: inline-block;
	clear: both;
}
div.deletionsButtonsWrapper button.runDeletionButton {
	float: left;
}
div.deletionsButtonsWrapper button.returnHomeButton {
	float: right;
}