/* Written by Silver18
more info at: http://www.mobileread.com/forums/showpost.php?p=2121570&postcount=1
*/


#bookmark_container{font-family:Arial;font-size:12pt;min-width:300px;max-width:600px;background:#FFF;border:solid 5px #999;color:#000;border-radius:0}#bookmark_title{font-size:12pt;font-weight:bold;text-align:center;line-height:1.75em;color:#000;background:#e6e6e6;border:solid 1px #FFF;border-bottom:solid 1px #999;cursor:default;padding:0;margin:0}#bookmark_content{padding:.5em .75em;margin:0}#bookmark_content.bookmark{text-align:left}#bookmark_message{padding-left:0;padding-right:0}#bookmark_panel{text-align:center;margin:1em 0 0 0}#bookmark_ok{font-size:12pt}#bookmarkList{list-style-type:none;list-style-position:outside;background-image:url('../../Images/bookmarkstar.gif');background-repeat:repeat-y;font-size:12pt;line-height:16pt;min-height:38px}